* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#canvas {
  width: 750px;
  height: 500px;
  border: 2px solid #000000;
}

button.skeuomorph-flat {
  outline: none;
  margin: 0;
  border: 0;
  border-radius: 0.25em;
  background: #ffffff;
  cursor: pointer;
  padding: 0.5em 1.5em;
  text-rendering: optimizeLegibility;
  font-size: inherit;
  font-family: inherit;
  font-weight: 300;
  color: inherit;
  box-shadow: 0 0.2em #888;
  -webkit-transform: translateY(-0.2em);
  -moz-transform: translateY(-0.2em);
  transform: translateY(-0.2em);
}

button.skeuomorph-flat:hover,
button.skeuomorph-flat.hover {
  background: #e6e6e6;
}

button.skeuomorph-flat:active,
button.skeuomorph-flat.active {
  box-shadow: none;
  background: #e0e0e0;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  transform: translateY(0);
}
.container_canvas {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container_buttons {
  /* display: none; */
  display: flex;
  background: #120435;
  /* height: 150px; */
  height: auto;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.container_rotar {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container_resto {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
#score {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cotainer_bts_player {
  width: auto;
  height: 100px;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 2fr 1fr;
  background: #e0e0e0;
}

p {
  font-family: "Press Start 2P", cursive;
}
